doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-3.3.1.js')
    script(src='/javascripts/miscript.js')
    title= title
  body
    block content
